//      General variables

//Background-Colors
$footer-bg: #f4f6fb;
$header-bg: #ffffff;

//Colors
$primary-color: #ff7855;
$primary-color-light: #ffe9e5;
$text-header-color: #233d63;

//Cards 
$card-bg: #f4f6fb;

//Digital Solutions
$feature-settings-1-bg: #fcd8e1;
$feature-security-1-bg: #dde8fa;
$feature-settings-2-bg: #ff9cdb;
$feature-security-2-bg: #f5eb98;

//      Home Page Specific

//Blog
$home-blog-bg1: #ff6448;
$home-blog-bg2: #00aeff;

//      Blog Page Specific

//Serach
$blog-search-bg: #f4f6fb;

//Blog Post
$blog-catagory-bg: #ff6448;


//      Contact

//Textare Form
$contact-textare-outline: #00aeff;
